@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300);

:root {
  --background-color-inner: #3c3f4b; /* #494d5c;*/
  --background-color-outer: #000001; /*#252830*/
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  overflow: hidden;
  font-family: var(--font-family);
  /*Background*/
  background-color: var(--background-color);
  background: radial-gradient(
    circle,
    var(--background-color-inner) 0%,
    var(--background-color-outer) 100%
  );
}
